body{
    margin: 100px;
    background-color: burlywood;
    color: cornsilk;
    text-align: center;
}

.header{
    font-family: cursive;
    font-size: 80px;
    text-align: center;
    padding: 50px;
    border:10px solid cornsilk;
    
}

.organizer{
    margin-top: 30px;
    text-align: right;
}

.title{
    padding: 0.5em 1em;
    margin: 15px;
    background: rgb(120, 139, 32);
    border-left: double 7px cornsilk;
    border-right: double 7px cornsilk;
    text-align: center;
}

.rule{
    margin: 30px 50px 100px 50px;
}

.ruleContent{
    margin: 50px;
    border: cornsilk solid 10px;
    padding: 0.5em 1em;
    background: rgb(51, 30, 6);
    border-top: solid 10px rgb(120, 139, 32);
    box-shadow: 0 4px 5px black;;
}

.ruleUl{
    font-size: 30px;
    text-align: center;
}

.page{
    margin: 100px 50px 100px 50px;
}

.pageContent{
    margin: 50px;
}

.recommend{
    text-align: left;
    margin: 100px 50px 100px 50px;
}

.recommendTitle{
    margin: 20px;

}
