body{
    margin: 100px;
    background-color: burlywood;
    color: cornsilk;
    text-align: center;
}

.header{
    font-family: cursive;
    font-size: 80px;
    text-align: center;
    padding: 50px;
    border:10px solid cornsilk;
    
}

.organizer{
    margin-top: 30px;
    text-align: right;
}

.title{
    font-style: oblique;
    background:rgb(71, 44, 7) ;
    margin: 30px 200px 30px 200px;
    text-align: center;
}

.rule{
    margin-top: 50px;
}

.ruleUl{
    font-size: 30px;
    text-align: center;
}


.page{
    margin-top: 50px;
}
.recommend{
    text-align: left;
    margin-top: 50px;
}

.recommendTitle{
    margin: 20px;

}
