<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- iframe Contents Reload -->
  <script>
    $(document).ready(function(){
    $('#testtest').each(function() {
    this.contentWindow.location.reload(true);
    });
    });
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145930957-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-145930957-1');
  </script>

  <title>大阪大学交響楽団</title>

  <!-- meta -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="大阪大学に本拠地を置く学生オーケストラ、大阪大学交響楽団の公式ホームページです。今後の演奏会情報やチケットの販売を行なっています。">

  <!-- css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.css">
  <link rel="stylesheet" href="assets/css/owl.theme.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="assets/css/bootsnav.css" rel="stylesheet">
  <link href="assets/css/navstyle.css" rel="stylesheet">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--[if lt IE 9]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
</head>

<body id="home">


  <!-- ****************************** ヘッダーとメニュー ************************** -->
  <!-- メニューここから -->
  <nav class="navbar navbar-default bootsnav">
    <div class="container">
      <!-- ヘッダーとロゴここから -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/"><img src="assets/img/header/top-img3.png" class="logo" alt=""></a>
      </div>
      <!-- ヘッダーとロゴここまで -->

      <!-- メニュー中身ここから -->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">

          <li class="active"><a href="/">トップ</a></li>
          <li><a href="/aboutus">阪大オケについて</a></li>
          <li><a href="/concert">演奏会情報</a></li>
          <li><a href="/tickets">チケット購入</a></li>
          <li><a href="/recruit">団員募集</a></li>
          <li><a href="/features">特集記事</a></li>
          <li><a href="/news">ニュース</a></li>
          <li><a href="/contact">お問い合わせ</a></li>

          <!--ドロップダウンも作れるよ！以下テンプレ

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdowns</a>
						<ul class="dropdown-menu">
							<li><a href="#">Custom Menu</a></li>
							<li><a href="#">Custom Menu</a></li>
						</ul>
          </li>-->
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>

  </nav>
  <!-- メニューここまで -->

  <div class="clearfix"></div>

  <!-- ****************************** 緊急お知らせ ************************** -->


  <section class="container">

		<section class="row">
			<div class="col-sm-12 col-md-12">
				<div class="notice-box wow animated fadeIn" data-wow-delay="0.3s">
					<p><!--ここに緊急お知らせ--></p>
				</div>
			</div>
    </section>
    
  </section>


  <!-- ****************************** バナー画像 ************************** -->

  <section class="container-fluid">
    <section class="row">
      <section class="col no-gutters">
        <div id="review" class="owl-carousel owl-theme">

          <!--
					<div class="item">
						<div class="row">
							<div class="banner">
								　 <img class="img-responsive center-block" src="http://kyodaioke.com/wp-content/uploads/IMG_2248.JPG">
							</div>
						</div>
					</div>

					-->

          <div class="item">
            <div class="row">
              <div class="banner">
                <a href="/concert/206">
                  <img class="img-responsive center-block" src="assets/img/header/top-img3.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- ****************************** 公演情報 ************************** -->

  <section id="kouen" class="block">
    <section class="container">
      <section class="row">
        <div class="col-sm-12 col-md-8">
          <div class="feature-box wow animated fadeIn" data-wow-delay="0.3s">
            <h2><a href="/concert/206">第114回定期演奏会</a></h2>
          </div>

        <div class="col-sm-12 col-md-6">
          <div class="feature-box wow animated fadeIn" data-wow-delay="0.3s">
            <h3>客演指揮</h3>
            <p>新田ユリ</p>
            <h3>曲目</h3>
            <p>シベリウス　音詩「フィンランディア」</p>
            <p>ベートーヴェン　交響曲第7番イ長調 op.92</p>
            <p>カール・ニルセン　交響曲第2番ロ短調「4つの気質」 op.16
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="feature-box wow animated fadeIn" data-wow-delay="0.3s">

            <h3>日時</h3>
            <p>
              2020.2.1.(Sat)<br>
              開場  15:00 / 開演  16:00<br>
            </p>
            <h3>場所</h3>
            <p>
              京都コンサートホール<br>
              大ホール
            </p>
            <h3>入場料</h3>
            <p>
              1000円【全席自由】<br>
              ※未就学児のご来場はご遠慮ください。
            </p>
          </div>
        </div>
        <div class="feature-box wow animated fadeIn" data-wow-delay="0.3s">
          <button class="btn-ticket" onclick="location.href='/concert/206'">
            詳細はこちら
          </button>
        </div>
        
      <!--他演奏会情報
    </div>
      <div class="col-sm-12 col-md-4">
        <div class="feature-box wow animated fadeIn" data-wow-delay="0.3s">
          <h2 style="font-size:1.5em;">
            <a href="/concert/">
              ---演奏会名---
            </a>
          </h2>
          <h3>
            ---日時・場所---
          </h3>
          <p>
            ---日時---<br>
            ---場所---<br>
            ---開場時間---<br>
            ---開演時間---
          </p>
          ---詳細はこちらボタン---
          <button class="btn-ticket" onclick="location.href='/concert/wagner2020'">
            詳細はこちら
          </button>
        </div>
      </div>
    </div>  
      -->


      </section>

      <section class="row">
        <div class="col-sm-6 col-md-4">
          <div class="recruit-box wow animated fadeIn" data-wow-delay="0.3s">
            <h2><a href="/news">最新のニュース</a></h2>
            <iframe title="最新のニュース一覧が表示されています。" height="150" frameborder="0" src="/news/latestnews.html">
            </iframe>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="recruit-box wow animated fadeIn" data-wow-delay="0.3s">
            <h2><a href="/features">最新の特集記事</a></h2>
            <iframe id="inlineFrameExample" title="最新の特集記事一覧が表示されています。" height="150" frameborder="0" src="/features/latestfeatures.html">
            </iframe>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="feature-box wow animated fadeIn" data-wow-delay="0.3s">
            <h2>公式SNSアカウント稼働中！</h2>
            <p>
              公式Twitterにて、最新情報をご案内しています。</br>皆様のフォローお待ちしております。<p></p>
              <a href="https://twitter.com/ouso_handai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" 
              class="twitter-follow-button" data-size="large" data-show-count="false">
                Follow @ouso_handai
              </a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
            <p>
              公式Facebookにても、最新情報をご案内しています。
              <div class="fb-like" data-href="https://www.facebook.com/ousorchestra" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>              
              </div>
            </p>
          </div>
        </div>
      </section>
      <div class="clearfix"></div>



    </section>
  </section>



  <!-- ****************************** フッター ************************** -->

  <section id="footer">
    <section class="container">
      <section class="row">
        <div class="col-sm-4 col-md-3">
          <ul class="footer-menu">
            <li><a href="/">ホーム</a></li>
            <li><a href="/aboutus">阪大オケについて</a>
              <ul class="footer-menu">
                <li><a href="/aboutus">トップ</a></li>
                <li><a href="/aboutus/schedule/">阪大オケの1年間</a></li>
                <li><a href="/aboutus/pastconcert/">過去の演奏会</a></li>
                <!--<li><a href="http://kyodaioke.com/100/">100周年記念情報</a></li>-->
              </ul>
            </li>
            <li><a href="/concert">演奏会情報</a></li>
            <li><a href="/tickets">チケット購入</a></li>
          </ul>

        </div>
        <div class="col-sm-4 col-md-3">
          <ul class="footer-menu">
            <li><a href="/recruit">団員募集</a>
              <ul class="footer-menu">
                <li><a href="/recruit">トップ</a></li>
                <li><a href="/recruit/message/">メッセージ</a></li>
                <li><a href="/recruit/kyodaioke/">阪大オケについて知る</a></li>
                <li><a href="/recruit/part/">パート紹介</a></li>
                <li><a href="/recruit/faq/">Q&amp;A</a></li>
                <li><a href="/recruit/joinus/">入団申し込み</a></li>
              </ul>
            </li>
        </div>
        <div class="col-sm-4 col-md-3">
          <ul class="footer-menu">
            <li><a href="/features">特集記事</a></li>
            <li><a href="/news">ニュース</a></li>
            <li><a href="/contact">お問い合わせ</a></li>
          </ul>
          <br>
          <ul class="footer-menu">
            <li><a href="http://member.kyodaioke.com/">団員専用ページ</a></li>
          </ul>

        </div>
        <div class="col-sm-12 col-md-3">
          <p class="copyright">&copy;大阪大学交響楽団 All Copyright Reserved 2020</p>
        </div>
      </section>
    </section>
  </section>


  <!-- スクリプトの類（消すと壊れるよ） -->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/owl.carousel.js"></script>
  <script src="assets/js/script.js"></script>
  <script src="https://sdk.form.run/js/v2/formrun.js"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v5.0"></script>　

  <!-- Bootsnavs -->
  <script src="assets/js/bootsnav.js"></script>
  
</body>

</html>